@import "./_semantic.css";

/*! ***************************************************************************
 *    COMPONENT SCOPED TOKENS                                 __component.css
 *    Element-specific module variables
 *  ***************************************************************************
 */
:root {
	/** COMPONENT ALPHA TOKENS
	 *  Translucent colors for blending opacities w/OKLCH formats
	 */
	--depth-dark-charcoal: var(
		--shadow-dark-charcoal,
		var(--hues-neutral-dark-charcoal) /
		var(--alpha-shadow-dark-charcoal, 0.8)
	);
	--depth-soft-charcoal: var(
		--shadow-soft-charcoal,
		var(--hues-neutral-dark-charcoal) /
		var(--alpha-shadow-soft-charcoal, 0.36)
	);
	--depth-light-black: var(
		--shadow-light-black,
		var(--hues-canvas-inverted) /
		var(--alpha-shadow-light-black, 0.24)
	);
	--cover-dark-barely-crimson: var(
		--overlay-dark-barely-crimson,
		17 0 0 /*? edge-case */ /
		var(--alpha-overlay-barely-crimson, 0.24)
	);
	--cover-shadowy: var(
		--overlay-shadowy,
		var(--hues-neutral-dark-shadowy) /
		var(--alpha-overlay-shadowy, 0.96)
	);
	--cover-soft-black: var(
		--overlay-soft-black,
		var(--hues-canvas-inverted) /
		var(--alpha-overlay-soft-black, 0.8)
	);
	--ring-translucent-white: var(
		--border-translucent-white,
		var(--hues-canvas-baseline) /
		var(--alpha-ring-translucent-white, 0.64)
	);
	--ring-subtle-white: var(
		--border-subtle-white,
		var(--hues-canvas-baseline) /
		var(--alpha-ring-subtle-white, 0.36)
	);
	--ring-faint-white: var(
		--border-faint-white,
		var(--hues-canvas-baseline) /
		var(--alpha-ring-faint-white, 0.072)
	);
	--ring-subtle-black: var(
		--border-subtle-black,
		var(--hues-canvas-inverted) /
		var(--alpha-ring-subtle-black, 0.12)
	);
}

:root {
	/** COMPONENT GRADIENT TOKENS
	 *  For UI backdrop & overlay gradient treatments
	 */
	--linear-card-overlay: linear-gradient(
		to top,
		rgb(
				var(--hues-neutral-dark-shadowy) /
				var(--alpha-semiopaque-linear-card-overlay, 0.96)
			)
			20%,
		rgb(
				var(--hues-neutral-dark-shadowy) /
				var(--alpha-translucent-linear-card-overlay, 0.12)
			)
			92%
	);
	--linear-card-overlay-dark: linear-gradient(
		to top,
		rgb(
				var(--hues-neutral-dark-shadowy) /
				var(--alpha-opaque-linear-card-overlay-dark, 1)
			)
			12%,
		rgb(
				var(--hues-neutral-medium-grey) /
				var(--alpha-transparent-linear-card-overlay-dark, 0)
			)
			96%
	);
	--linear-treatment-card: linear-gradient(
		to bottom,
		rgb(
				var(--hues-neutral-dark-onyx) /
				var(--alpha-transparent-linear-treatment-card, 0)
			)
			36%,
		rgb(
				var(--hues-canvas-inverted) /
				var(--alpha-semiopaque-linear-treatment-card, 0.8)
			)
			80%
	);
	--linear-treatment-dialog: linear-gradient(
		to bottom,
		rgb(
				var(--hues-neutral-dark-onyx) /
				var(--alpha-translucent-linear-treatment-dialog, 0.12)
			)
			36%,
		rgb(
				var(--hues-canvas-inverted) /
				var(--alpha-semiopaque-linear-treatment-dialog, 0.96)
			)
			96%
	);
	--linear-feature-overlay: linear-gradient(
		to bottom,
		rgb(
				var(--hues-canvas-inverted) /
				var(--alpha-transparent-linear-feature-overlay, 0)
			)
			12%,
		rgb(
				var(--hues-canvas-inverted) /
				var(--alpha-opaque-linear-feature-overlay, 0.64)
			)
			96%
	);
	--linear-button-teal: linear-gradient(
		135deg,
		rgb(
				var(--hues-cool-subtle-teal) /
				var(--alpha-translucent-linear-button-teal, 0.36)
			)
			0%,
		rgb(
				var(--hues-cool-subtle-teal) /
				var(--alpha-semiopaque-linear-button-teal, 0.48)
			)
			92%
	);
}
